*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: system-ui;
    background-color: rgb(246, 240, 190);
}

.form-title {
    font-size: 2rem;
    color: rgb(246, 240, 190);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container-form{
    display: flex;
    flex-direction: column;
    background-color: #604B2A;
    margin: 7%;
    text-align: center;
    border-radius: 0.5em;
    color: white;
    padding: 5%;
}

.form-name{
    margin-top: 0.5rem;
}

.form-email{
    margin-top: 0.5rem;
}